body, html {
    height: 100%;
    font-family: "Inter", sans-serif;
    color: #333;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 2fr; /* left 1/3, right 2/3 */
    width: 100vw;
    height: 100vh; 
}

#left-panel{
    background-image: url("./../media/restaurant.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0.9);
}

.main-container {
    display: flex;
    flex-direction: column;
    background-color: #dfdddd;
}

header {
    padding: 20px 40px;
}

nav {
    display: flex;
    gap: 20px;
}

nav button {
    background: none;
    border: none;
    font-size: 1rem;
    padding: 10px 18px;
    cursor: pointer;
    letter-spacing: 0.5px;
    transition: 0.25s ease;
    border-radius: 6px;
}

nav button:hover {
    background: #eee;
}

#content {
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#content-title {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

#content-body {
    font-size: 1.15rem;
    line-height: 1.6;
    max-width: 550px;
    opacity: 0.9;
}

/*  menu styling */
.menu-item {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin-bottom: 40px;
}

.menu-text h2 {
    font-size: 1.8rem;
}

.menu-text p {
    font-size: 1.1rem;
}

.menu-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}


