body, html {
    height: 100%;
    font-family: "Inter", sans-serif;
    color: #333;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 2fr; /* left 1/3, right 2/3 */
    width: 100vw;
    height: 100vh; 
}

#left-panel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

.main-container {
    overflow-y: auto;
    padding: 20px;
}
