.layout {
    display: grid;
    grid-template-columns: 1fr 2fr; /* left 1/3, right 2/3 */
}

.sidebar-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 33.333%;
    height: 100vh;
    object-fit: cover;
}

.main-container {
    margin-left: 33.333%;
    padding: 20px;
}
